body {
    color: #ff031c; /* cor da fonte */
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    line-height: 1.6;
  }
  
  h1, h2, h3, h4, h5, h6, p, li, td, th, span, div {
    color: #07075b;
  }
  